$fontPoppins: 'Poppins';
$fontOswald: 'Oswald';
$fontBold: 700;
$fontSemi: 600;
$fontMid: 500;
$fontLight: 400;
$transition: all 300ms ease-in-out;

// colors
$clrSolidBlack: #000100;
$clrBlack: #030407;
$clrPrimary: #343434;
$clrBackground: #ed1b2e;

