// FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;469;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

// Partials Scss

@import './variable';
@import './reset';
@import './mixins';

.sec-branding h1{
    @include sec-branding;
}

@media (max-width: 1366px) {
    h2 {
        font-size: 40px;
    }

}

@media (max-width:991px) {
    .sec-branding h1{
        @include sec-branding;
        font-size: 150px;
    }
}

@media (max-width:575px) {
    .sec-branding h1{
        @include sec-branding;
       display: none;
    }
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 480px) {

    br {
        display: none;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 30px!important;
    }
    h1 {
        font-size: 40px;
    }

}




// Header Start


.header {
    position: relative;
    width: 100%;
    .navbar {
        padding: 0px 150px;
        height: 100px;
        z-index: 999;
        background: #fff;

        .main-nav {
            .nav-item {
                .nav-link {
                    font-family: $fontPoppins;
                    color: $clrBlack;
                    font-size: 13.5px;
                    font-weight: 700;
                    position: relative;
                    padding: 7px 27px;
                    text-transform: capitalize;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 60px;
                    transition: 0.3s;

                    &.active,
                    &:hover {
                        color: $clrBackground;
                    }
                    &:focus {
                       outline: none;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 31px;
                        right: -2px;
                        height: 10px;
                        width: 3px;
                        border-right: 3px solid #b4b4b4;
                    }
                    
                }
                &:last-child {
                    a {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        .navbar-toggler-icon {
            font-size: 25px;
            margin-top: 15px;
        }
    }
    .header-social {
        position: relative;
        margin-left: 25px;
        margin-top: 5px;

        a {
            font-size: 13.5px;
            color: $clrBlack;
            margin-left: 35px;
            text-decoration: none;
        }

        .search-box {
            position: absolute;
            top: 60px;
            left: -110px;
            font-family: $fontPoppins;
            font-size: 13.5px;
            font-weight: 500;
            color: $clrBlack;
            background: #fff;
            border: 1px solid #006eb8;
            padding-left: 20px;
            display: none;
            
           .search {
               background: transparent;
               outline: none;
               border: none;
               padding: 19px 0px;
           }
          
           .button {
               background-color: #ddd;
               color: $clrBlack;
               padding: 20px;
               margin-right: 0;
               margin-left: 20px;
               border: none;
               outline: none;
               cursor: pointer;
               transition: all .3s linear;
               
               &:hover {
                  background: #ed1b2e;
                  color: #fff;
               }
               
           }
        }
        
    }
    .sticky {
        background: #ffffff;
        padding: 0px 150px;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        box-shadow: 0px 1px 3px #e9e9e9;
    }
    
}

@media (max-width: 1425px) {
    .header {
        .navbar {
            .main-nav {
                .nav-link {
                    padding: 7px 23px!important;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .header {

        .navbar {
            padding: 0px 10px;
        }
        .sticky {
            padding: 0px 10px;
        }
    }
}

@media (max-width: 991px)  {
    .header {
        .navbar {
            .main-nav {
                background-color: #fff;
                position: absolute;
                top: 90px;
                left: 0;
                width: 100%;
                height: auto;
                text-align: left;
                z-index: 999;
                box-shadow: 0px 2px 3px 0px #cfd0d1;
                .nav-link {
                    width: 100%;
                    line-height: 40px!important;
                    border-top: 1px solid #e1e3e6;

                    &::before {
                        display: none;
                    }
                }
            }
        }
        button:focus {
            outline: none;
        }
    }
}

@media (max-width: 480px) {
    .header {
        .navbar {
            .logo {
                img {
                    height: 20px;
                }
            }
        }
    }
}


// Banner Start

.banner-section {
    background: linear-gradient(to bottom right, #006db8, #08a2e9);
    padding: 0px 150px 130px 150px;
    position: relative;
    overflow: hidden;

    .sec-branding h1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .owl-carousel {
        .item {
            .banner-content {
                padding-top: 250px;
                max-width: 420px;
                h6 {
                    font-family: $fontOswald;
                    font-size: 16px;
                    font-weight: $fontBold;
                    color: #fff;
                }
                h1 {
                    text-transform: uppercase;
                    padding-top: 5px;
                    padding-bottom: 35px;
                }
                span {
                    font-family: $fontPoppins;
                    font-size: 14px;
                    color: #fff;
                    font-weight: $fontBold;
                    text-transform: capitalize; 
                }
                p {
                    color: #fff;
                    margin-top: 10px;
                }
            }
            .banner-btn {
                margin-top: 15px;
                
                a {
                    transition: .5s linear;
                    text-decoration: none;
                    box-shadow: 0px 0px 5px rgb(78, 78, 78);
                }
                .btn-2 {
                    background: $clrBlack;
                    margin-left: 15px;
                    text-decoration: none;

                    &:hover {
                        background: #fff;
                    }
                }
            }

            
            
        }
        .banner-pic  {
            img {
                width: 100%;
                margin: auto;
            }
         }

         .owl-nav {
            display: block;
            color: $clrBlack;
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 12px;
            
            .owl-prev,
            .owl-next {
                height: 50px;
                width: 50px;
                background-color: rgba(255, 255, 255, 0.205);
                font-size: 13px;
                border-radius: 50px;
                text-align: center;
                box-shadow: 0px 0px 4px #4ea6e0;
                transition: .3s linear;
                outline: none;

                &:hover {
                    background: #fff;
                }
            }
            .owl-prev {
                margin-right: 10px;
                
            }
        }
        .owl-dots {
            display: block;
            margin-left: auto;
            text-align: right;
            position: absolute;
            right: 0;
            bottom: 30px;
            .owl-dot {
                outline: none;
                height: 10px;
                width: 10px;
                display: inline-block;
                background: #fff;
                margin: 0px 5px;
                text-align: center;
                border-radius: 50px;

                &.active{
                    background: red!important;
                }                 
            }
        }
    }
}

@media (max-width: 1366px) {
    .banner-section {
        .owl-carousel {
            .banner-pic {
                img {
                    width: 100%;
                }
            }
            .owl-nav {
                bottom: -80px;
            }
            .owl-dots {
                bottom: -70px;
            }
        }
    }
}

@media (max-width: 991px) {
    .banner-section {
        .item {
            .banner-content {
                padding-top: 100px!important;
            }
        }
    }
}
@media (max-width: 767px) {
    .banner-section {
        padding: 0;
        padding-bottom: 95px;
        .owl-carousel {
            .item {
                .banner-title {
                    padding-top: 0;
                }
            }
            .banner-pic {
                display: none;
            }
            .owl-dots {
                position: relative;
                bottom: 0;
                right: 0;
                padding-top: 40px;
                text-align: center;
            }
            .owl-nav {
                position: relative;
                bottom: 0;
                left: 0;
                padding-top: 70px;
                text-align: center;
            }
        }
    }
}

// BANNER END




// Brand Start



.brand {
  padding-top: 123px;
  padding-bottom: 0px;
  overflow: hidden;
    .brand-title {
        position: relative;
        margin-bottom: 90px;

        h2 {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: -100px;
                height: 3px;
                width: 80px;
                background-color: #ed1b2e;
            }
        }
    }
    .owl-carousel {
        .item {
            .bg-2 {
                background: linear-gradient(to top right, #006eb8, #02bbf1)!important;
            }
            .bg-3 {
                background: linear-gradient(to top right, #c4162a, #e3686a)!important;
            }
            .bg-4 {
                background: linear-gradient(to top right, #04a592, #5bd1c0)!important;
            }
           .brand-slider {
            background: linear-gradient(to top right, #fdc60f, #fee17d);
            position: relative;
            padding: 175px 0px 55px 50px;
            border-radius: 10px;
            margin-top: 35%;


                img {
                    position: absolute;
                    top: -130px;
                    left: 50%;
                    transform: translate(-50%);
                    display: block;
                   width: auto;
                }
                .slider-content {
                    h3 {
                        font-size: 50px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: $fontBold;
                    }
                    span {
                        font-family: $fontPoppins;
                        font-size: 15px;
                        font-weight: 400;
                        color: #fff;
                        display: block;
                    }
                    a {
                        font-family: $fontPoppins;
                        font-size: 14px;
                        font-weight: $fontMid;
                        text-transform: uppercase;
                        color: #fff;
                        display: block;
                        margin-top: 30px;

                        i {
                            color: #fff;
                            font-size: 10px;
                            margin-left: 5px;
                            
                        }
                    }
                
                }
            }
        }
        .owl-nav {
            display: block;
            color: $clrBlack;
            padding-top: 50px;
            font-size: 12px;
            text-align: right;
            

            .owl-next {
                height: 50px;
                width: 50px;
                background-color: #fff;
                font-size: 13px;
                border-radius: 50px;
                text-align: center;
                box-shadow: 0px 0px 8px #d2d3d4;
                transition: .3s linear;
                outline: none;

                &:hover {
                    background-color: #ed1b2e;
                    color: #fff;
                }

            }
            .owl-prev {
                height: 50px;
                width: 50px;
                background-color: #fff;
                border-radius: 50px;
                font-size: 13px;
                text-align: center;
                margin-right: 10px;
                box-shadow: 0px 0px 8px #d2d3d4;
                transition: .3s linear;
                outline: none;

                &:hover {
                    background-color: #ed1b2e;
                    color: #fff;
                }

            }
        }
    }

}
@media (max-width: 1366px) {
    .brand {
        .owl-carousel {
            .item {
                .brand-slider {
                    img {
                        width: 100%!important;
                        top: -75px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1820px) {
    .brand {
        .owl-carousel {
            .item {
                .brand-slider {
                    margin-top: 40%;
                }
            }
        }
    }
}
@media (max-width: 1820px) {
    .brand {
        .owl-carousel {
            .item {
                .brand-slider {
                    margin-top: 50%;
                }
            }
        }
    }
}

@media (max-width: 1370px) {
    .brand {
        .owl-carousel {
            .item {
                .brand-slider {
                    margin-top: 55%;
                }
            }
        }
    }
}



@media (max-width: 991px) {
    .brand {
        .item {
            .brand-slider {
                margin-top: 54%!important;
            }
        }
        .brand-title {
            margin-bottom: 0;
        }
        
    }
}
@media (max-width: 767px) {
    .brand {
       padding: 20px 0px;

       .brand-title {
           margin-left: 90px;
       }

       .owl-carousel {
           .item {
                .brand-slider {
                    margin-top: 100px!important;
                    img {
                        width: auto!important;
                    }
                }
           }
           .owl-nav {
               text-align: center;
           }
       }
    }
}

@media (max-width: 575px) {
    .brand {
        padding: 60px 0px 15px 0px!important;

        .owl-carousel {
            .item {
                 .brand-slider {
                     margin-top: 77px!important;

                     .slider-content {
                         h3 {
                             font-size: 35px;
                         }
                     }
                 }
            }
        }
    }
}




// Abut Start

.about {
    padding-top: 100px;
    padding-bottom: 140px;
    overflow: hidden;
    .about-title {
        padding-top: 100px;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 65px;

        .sec-branding h1 {
            top: 85px;
            left: -105px;
        }


        h2 {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: -100px;
                height: 3px;
                width: 80px;
                background-color: #ed1b2e;
            }
            span {
                color: #ed1b2e;
            }
        }
    }
    .about-content {
        padding-top: 190px;
        padding-right: 145px;

    }
    .about-btn  {

        a{
            margin-top: 10px;
            margin-right: 15px;
            box-shadow: 0px 0px 8px #e1cfd0;
    
            
        }

        .btn-2 {
            background: $clrBlack;
            margin-left: 15px;
            text-decoration: none;

            &:hover {
                background: #fff;
            }
        }
    }
    .about-pic {
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            bottom: -23px;
            left: -22px;
            height: 50px;
            width: 50px;
            background: #ed1b2e;
            border-radius: 10px;
            z-index: 1;
        }
       

        img {
            display: block;
            width: 100%;
            position: relative;
            box-shadow: 100px -100px 0px #ed1b2e;
            z-index: -1;
        }

        
        h6 {
            font-family: $fontPoppins;
            font-size: 22.5px;
            font-weight: $fontBold;
            color: #fff;
            position: absolute;
            top: 250px;
            right: -230px;
            text-transform: uppercase;
            transform: rotate(-90deg);
        }
    }
}

@media (max-width: 1650px) {
    .about {
        .about-pic {
            img {
                box-shadow: 100px -50px 0px #ed1b2e;
            }
            h6 {
                top: 200px;
            }
        }
    }
}
@media (max-width: 1400px) {
    .about {
        .about-pic {
            img {
                box-shadow: 100px -50px 0px #ed1b2e;
            }
            h6 {
                font-size: 15px;
                right: -175px;
                top: 160px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .about {
        .about-pic {
            img {
                box-shadow: 50px 50px 0px #ed1b2e;
            }
            h6 {
               display: none;
            }
        }
    }
}


@media (max-width: 1366px) {
    .about {
        padding-top: 26px;
        padding-left: 100px;

        .about-content {
            padding-right: 0;
            padding-top: 0;
        }
    }
    
}

@media (max-width: 991px)  {
    .about {
        padding-top: 0px;
        padding-bottom: 10px;

        .about-title {
            padding-top: 72px;
        }
    }
}

@media (max-width: 767px)  {
    .about {
      padding: 0px 0px 40px 0px;
        .about-title {
            padding-top: 0;
            margin-left: 90px;
            padding-bottom: 55px;
        }
        .about-pic {
            margin-top: 50px;
        }
    }
}

@media (max-width: 575px) {
    .about {
        padding: 0px 5px 25px 5px;
        .about-title {
            padding-bottom: 40px;
        }
        .about-pic {
            margin-top: 50px;
        }
    }
}



// Global Start

.global {
    padding-top: 135px;
    padding-bottom: 230px;
    position: relative;
    overflow: hidden;
  
    .global-title {
        position: relative;

        .sec-branding h1 {
           left: -210px;
           
        }

        h2 {
            position: relative;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: -100px;
                height: 3px;
                width: 80px;
                background-color: #ed1b2e;
            }
        }
    }
    .global-content {
        padding-top: 260px;

    }
    .global-btn  {

        a{
            margin-top: 10px;
            margin-right: 15px;
            box-shadow: 0px 0px 8px #e1cfd0;
    
            
        }

        .btn-2 {
            background: $clrBlack;
            margin-left: 15px;
            text-decoration: none;

            &:hover {
                background: #fff;
            }
        }
    }
    .global-bg {
        position: relative;
        margin-top: 50px;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 105px;
            left: -133px;
            height: 100%;
            width: 100%;
            background: #ed1b2e;
        }

        .global-pic {
            background: #ffffff;
            text-align: center;
            padding: 55px;
            margin-top: 30px;
            border-radius: 10px; 
            box-shadow: 0px 0px 5px #e9e7e7;

            img {
                width: 100%;
                height: auto;
                display: block;
                margin: auto;
            }
           
        }
    }
}



@media (max-width: 1366px) {
    .global {
        padding-top: 10px;
        padding-bottom: 100px;
        .global-content {
            padding-top: 90px;
        }
        
      
    }
}
@media (max-width: 991px) {
    .global {
      
        .global-title {
            padding-top: 195px;
        }
        .global-content {
            padding-top: 70px;
        }
      
    }
}


@media (max-width: 767px) {
    .global {
        padding: 0;
      
       .global-title {
           margin-left: 100px;
            padding-top: 175px;
       }
       .global-content {
           padding-top: 55px;
       }
      
    }
}

@media (max-width: 480px)  {
    .global {
        .global-content {
            padding-top: 40px;
        }
    }
}


// sustain Section

.sustain {
    padding-top: 182px;
    padding-bottom: 145px;
    overflow: hidden;
    .sustain-title {
        position: relative;

        .sec-branding h1 {
            top: 0;
            left: -100px;
        }
        
        h2 {
            position: relative;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: -100px;
                height: 3px;
                width: 80px;
                background-color: #ed1b2e;
            }
        }
    }
    .sustain-content {
        padding-top: 260px;

    }
    .sustain-btn {

        a{
            margin-top: 10px;
            margin-right: 15px;
            box-shadow: 0px 0px 8px #e1cfd0;
    
            
        }

        .btn-2 {
            background: $clrBlack;
            margin-left: 15px;
            text-decoration: none;

            &:hover {
                background: #fff;
            }
        }
    }
    .sustain-pic {
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            bottom: -40px;
            right: -40px;
            height: 50%;
            width: 70%;
            background: #ed1b2e;
            border-radius: 5px;
            z-index: -1;
        }

        img{
            display: block;
            height: auto;
            width: 100%!important;
            border-radius: 10px;
            z-index: -1;
        }
    }
}

@media (max-width: 1366px) {
    .sustain {
       padding-top: 135px;
       padding-bottom: 0;
        .sustain-content {
            padding-top: 90px;
        }
      
    }
}

@media (max-width: 991px) {
    .sustain {
      padding-top: 0px;

      .sustain-pic {
          margin-top: 30px;
      }
      
    }
    
}

@media (max-width: 767px) {
    .sustain {
        padding: 70px 0px 135px 0px;

        .sustain-title {
            margin-left: 100px;
        }
        .sustain-content {
            padding-top: 55px;
        }
      
    }
    
}

@media (max-width: 480px)  {
    .sustain {
        .sustain-content {
            padding-top: 40px;
        }
    }
}




// CAREER START

.career {
    padding-top: 135px;
    padding-bottom: 163px;
    overflow: hidden;
    .career-bg {
        position: relative;
        z-index: 1;
        img {
            display: block;
            height: auto;
            width: 100%;
            z-index: 99;
            border-radius: 10px;

           
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -50px;
            height: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            background: #ed1b2e;
            z-index: -1;
        }
    }
    .career-title {
        padding: 100px 50px 0px 150px;
        position: relative;
        z-index: 1;
        .sec-branding h1 {
            top: 400px;
            left: -242px;
            z-index: -1;
        }
                

        h2 {
            position: relative;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: -100px;
                height: 3px;
                width: 80px;
                background-color: #ed1b2e;
            }
        }
        .career-btn  {

            a{
                margin-top: 10px;
                margin-right: 15px;
                box-shadow: 0px 0px 8px #e1cfd0;
        
                
            }
    
            .btn-2 {
                background: $clrBlack;
                margin-left: 15px;
                text-decoration: none;
    
                &:hover {
                    background: #fff;
                }
            }
        }
    }
    .career-pic {
       position: relative;
       z-index: 1;

       .career-bg2 {
            img {
                width: 100%;
                z-index: 1;
                border-radius: 10px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 280px;
            height: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            background: #ed1b2e;
            z-index: -1;
        }

    }
   
}

@media (max-width: 1366px) {
    .career {
       padding-bottom: 135px;
        .career-title {
            padding: 0;
            h2 {
                margin-left: 100px;
            }
        }
        .career-content {
            padding-top: 0px;
            padding-bottom: 0px;
        }
      
    }
}

@media (max-width: 991px) {
    .career {
      padding-top: 100px;
      padding-bottom: 100px;

      .career-pic {
          margin-top: 50px;
      }
      
    }
    
}

@media (max-width: 767px) {
    .career {
      padding: 0px 0px 80px 0px;

      .career-title {
          padding-top: 60px;
      }
      .career-pic {
          margin-top: 30px;
      }
      .career-content {
          padding-top: 55px;
          padding-bottom: 0;
      }
      
    }
    
}

@media (max-width: 575px) {
    .career {
        padding-bottom: 60px;
        .career-content {
            padding-top: 40px;
        }
    }
}


// CONTACT START

.contact-section {
    background: url("../img/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 200px;
    position: relative;
   z-index: 1;
   overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #ed1b2cde;
        z-index: -1;
    }
    .contact-title{
        h4 {
            font-family: $fontPoppins;
            font-size: 20px;
            font-weight: $fontBold;
            padding-bottom: 25px;
            color: #fff;
            text-transform: uppercase;
            z-index: 1;
        }
    }
    .contact-link {
        a {
            font-family: $fontPoppins;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            text-transform: capitalize;
            display: inline-block;
            padding-bottom: 10px;
            z-index: 1;
            transition: all .3s linear;

            i {
                margin-right: 20px;
            }
            &:hover {
                color: $clrBlack;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            li {
                flex-basis: 50%;
            }
        }
    }
    .social-link {
        i {
            font-size: 16px;
            color: #ffffff;
            height: 50px;
            width: 50px;
            background: #ee3d4c;
            border-radius: 50px;
            padding-left: 18px;
            line-height: 50px;
            margin-right: 10px;
            cursor: pointer;
            z-index: 1;
            transition: all .3s linear;

            &:hover {
                background: #fff;
                color: $clrBlack;
            }
        }
    }
}



@media (max-width: 991px) {
    .contact-section {
        padding: 120px 0px 115px 0px;
    }
}
@media (max-width: 575px) {
    .contact-section {
        padding: 70px 0px 117px 0px;
    }
}

// Footer Start

.footer {
    .footer-content {
        p {
            position: relative;
            font-size: 16px;
            color: #fff;
            margin-top: -60px;
            z-index: 1;
        }
        a {
            font-family: $fontPoppins;
            font-size: 16px;
            color: #fff;
            transition: all .3s linear;

            &:hover {
                color: $clrBlack;
            }
            
        }
    }
}

